// Article: Cards
// -----------------------------------------------------------------------------

.page__side .card {
  margin-bottom: 1rem;

  .card-text{
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.contact-item{
    border: 0;

    .card-header {
      background-color: map_get($theme-colors, "dark-gray");
      color: #fff;
      font-weight: bold;

      h2 {
        margin-bottom: 0;
      }
    }

    .card-body {
      background-color: map_get($theme-colors, "faded-gray");
    }
  }
}

.card-body {
  padding: 1.5rem;

  p:last-child {
    margin: 0;
  }
}
