/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #202B32;
  font-weight: 300;
  position: initial !important;
  min-height: auto !important;
  top: 0px;
}

body.container {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

body > header, body > main, body > footer {
  transition: right 0.2s;
  top: 0;
  right: 0;
  display: block;
  position: relative;
  z-index: 5;
}

body > main, body > footer {
  z-index: 4;
}

@media only screen and (max-width: 767px) {
  body.expanded > header, body.expanded > main, body.expanded > footer{
    position: relative !important;
    right: 50%;
  }
}

@media only screen and (max-width: 575px) {
  body.expanded > header, body.expanded > main, body.expanded > footer{
    position: relative !important;
    right: 75%;
  }
}

iframe {
  max-width: 100% !important;
}

p.medium {
  max-width: 400px;
  display: inline-block;
}

.webform-confirmation {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #2e4272;
}

h2 {
  font-size: 1.3em;
  color: #2e4272;
  font-weight: 700;
}

h3 {
  font-size: 1.3em;
  color: #202B32;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  color: #2e4272;
  font-weight: 400;
}

h5 {
  font-size: 1.2em;
  color: #202B32;
  font-weight: 400;
}

ol.graph {
  margin: 0;
  padding: 0;
}

ol.graph li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
  margin-bottom: 15px;
  border-bottom: 2px dotted #2e4272;
  padding-bottom: 15px;
  line-height: 1em;
  padding-left: 50px;
  padding-top: 6px;
}

ol.graph li:first-child {
  margin-top: 30px;
}

ol.graph li:last-child {
  counter-increment: list;
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 0;
  padding-bottom: 0;
}

ol.graph li:before {
  color: #000000;
  font-weight: 900;
  margin-right: 0px;
  content: counter(list);
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #e6fe01;
  line-height: 1.5em;
  font-size: 1em;
  padding: 2px 10px;
  border-radius: 50%;
}

b,
strong {
  font-weight: 700;
}

a {
  font-weight: 700;
  color: #2e4272;
}

a.btn-primary {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2e4272;
  line-height: 1em;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
}

a.btn-primary.narrow {
  padding: 5px 15px;
  font-size: 1em;
}

a.btn-primary:hover {
  background-color: #202B32;
  color: #FFF;
  border-color: #202B32;
}

a.btn-primary.blue {
  border-color: #2e4272;
  color: #2e4272;
}

a.btn-primary.blue:hover {
  background-color: #2e4272;
  border-color: #2e4272;
  color: #FFF;
}

hr {
  border-top: 1px solid #cacaca;
  padding: 1px 0;
}

ul {
  margin: 0;
  padding: 0;
}

.main-col  ul {
  padding-left: 35px;
  margin-bottom: 10px;
}

.main-col  ul#image-gallery {
  padding-left: 0;
  margin-bottom: 10px;
}

img,
svg {
  max-width: 100%;
  height: auto !important;
}


img.icon {
  width: 40px;
  display: inline-block;
}

img.icon.sm {
  width: 20px;
}

.table-responsive {
  margin-bottom: 15px;
  border: 0;
}

/*Login Section*/
form.user-login-form {
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  color: #333;

}

@media only screen and (max-width: 575px) {
  form.user-login-form {
    left: 0;
    position: relative;
    margin-left: 0;

  }
}

form.user-login-form label {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #0078ae;

}

form.user-login-form div.description {
  font-style: italic;
  margin: 5px 0;
}

form.user-login-form input {
  outline: none;
  border: 1px solid #adadad;
  padding: 10px;
  background-color: #fbfeff;
}

form.user-login-form input.form-submit {
  border: 0px;
  background-color: #0078ae;
  color: #FFF;
  padding: 5px 40px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

form.user-login-form .form-item {
  display: block;
  text-aign: center;
  width: 100%;
  margin: 10px 0;
}

form.user-login-form .captcha {
  margin: 20px 0;
}

/*Top Header Section*/

#header-section {
  color: #FFF;
  overflow: visible;
  z-index: 1;
}

#header-section .header-section {
  position: relative;
  font-weight: 600;
  z-index: 9;
}

/*Header Title*/
@media only screen and (max-width: 767px) {
  img.header-logo{
    padding: 0 15px;
  }
}

#header-title h1{
  margin: 0;
}

.not-front #header-title .row{
  border-bottom: 5px solid #2e4272;
}

.front-header{
  text-align: center;
  margin-top: 100px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.front-header h1{
  margin: 0;
}




/*Header Tabs*/

#header-tabs .row .col-12 {
  padding-left: 0;
  padding-right: 0;
}

/*Footer*/

#footer-section {
  background-color: #566ca2;
  color: #FFF;
}

#footer-section p {
  margin: 0;
}

#footer-section a {
  color: #FFF;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {

  #footer-section {
    padding: 30px 0;
  }

  #footer-section .block {
    padding: 0;
  }
}


/*Animation*/

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



/*Colors*/
.white-bg {
  background-color: #fff;
}

.yellow-bg{
  background-color: #ffd800;
}

.grey-bg {
  background-color: #333;
}

.blue-bg {
  background-color: #1f4377;
}

.blue-bg a,
.blue-bg h1,
.blue-bg h2,
.blue-bg h3 {
  color: #FFF;
}

svg.blue-icon path,
svg.blue-icon circle {
  fill: #2e4272;
}

svg.white-icon path,
svg.white-icon circle {
  fill: #FFF;
}

svg.black-icon path,
svg.black-icon circle {
  fill: #000;
}

/*Google Translate*/
.goog-te-gadget {
  font-size: 0 !important;
  display: block;
}

.goog-te-gadget a,
.goog-te-gadget img {
  display: none !important;
}


/*Social Icons*/
.social-icons-group {

}

.social-icons-group .social-icon{
  display: inline-block;
}


.social-icons-group .social-icon a img{
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.social-icons-group .social-icon a:hover img{
  background-color: #ccc;
}


/*Main Navigation*/

#block-mainnavigation {
  display: inline-block;
  z-index: 9;
  vertical-align: top;
  font-size: 0.9em;
}


#block-mainnavigation ul li, ul.washco-menu li {
  list-style: none;
  cursor: pointer;
}

#block-mainnavigation a {
  text-decoration: none;
}


#block-mainnavigation>ul li {
  display: inline-block;
  position: relative;
  float: left;
}

ul.washco-menu li {
  display: inline-block;
}

#block-mainnavigation>ul li .triangle-up{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  bottom: 0;
  left: 15px;
  display: none;
}

#block-mainnavigation ul li a,
#block-mainnavigation ul li span,
ul.washco-menu li a, ul.washco-menu li span {
  padding: 15px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
}

#block-mainnavigation>ul>li>a, #block-mainnavigation>ul>li>span{
  text-shadow: 1px 1px 2px #000000;
}

#block-mainnavigation>ul>li:hover .triangle-up{
  display: block;
}


#block-mainnavigation>ul li>ul {
  position: absolute;
  background-color: #000000;
  top: 100%;
  left: 0;
  display: none;
  z-index: 99;
  border-radius: 5px;
}

#block-mainnavigation>ul li>ul li {
  width: 100%;
  text-align: left;
  display: block;
}

#block-mainnavigation>ul li>ul li a,
#block-mainnavigation>ul li>ul li span {
  width: auto;
  text-align: left;
  display: block;
  color: #ffffff;
  white-space: nowrap;
}


#block-mainnavigation ul li:hover>ul {
  display: block;
}

#block-mainnavigation ul li:hover>a,
#block-mainnavigation ul li:hover>span {
  color: #a7b6db;
}

#block-mainnavigation ul li.is-active>a,
#block-mainnavigation ul li.is-active>span {
  color: #a7b6db !important;
}

/* Menu Toggler */

.menu-toggle {
  display: none;
}

.menu-toggle .menu-container {
  padding: 20px 0;
}


.menu-toggle .menu-bar,
.menu-toggle .menu-text {
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
  padding-top: 0px;
}

.menu-toggle .menu-text {
  display: none;
}

.menu-toggle .menu-bar .bar1,
.menu-toggle .menu-bar .bar2,
.menu-toggle .menu-bar .bar3 {
  width: 20px;
  height: 3px;
  background-color: #FFF;
  margin: 3px 0;
  transition: 0.4s;
}

#block-mainnavigation.expanded .menu-bar .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 7px);
  transform: rotate(-45deg) translate(-2px, 7px);
}

#block-mainnavigation.expanded .menu-bar .bar2 {
  opacity: 0;
}

#block-mainnavigation.expanded .menu-bar .bar3 {
  -webkit-transform: rotate(45deg) translate(-1px, -7px);
  transform: rotate(45deg) translate(-1px, -7px);
}


.menu-toggle .menu-container.backdrop {
  display: none;
  z-index: 0;
}


#block-mainnavigation.expanded .menu-container.backdrop {
  background-color: none;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}



/* Menu Small Screen */

@media only screen and (max-width: 767px) {

  #block-mainnavigation,
  #block-mainnavigation ul a,
  #block-mainnavigation ul span {
    width: 100%;
  }

  #block-mainnavigation ul {
    border-radius:0 !important;
  }

  #header-section .col-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-toggle {
    display: block;
  }


  #block-mainnavigation ul,
  #block-mainnavigation ul li:hover>ul {
    display: none;
  }

  #block-mainnavigation.expanded>ul {
    z-index: 1;
    display: block;
    position: fixed;
    padding: 40px 0;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #000;
    height: 100%;
    text-align: left;
    overflow-y: scroll;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.65);
  }

  #block-mainnavigation>ul>li {
    display: block;
    float: none;
  }

  #block-mainnavigation>ul>li.open ul {
    display: block;
    position: relative;
    background-color: #304474;
  }

  #block-mainnavigation>ul>li.has-children > span {
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-origin: content-box;
    background-position: right center;
  }

  #block-mainnavigation>ul>li.has-children.open > span {
    background-image: url(../img/minus.png);
  }

  #block-mainnavigation>ul>li.open ul li,
  #block-mainnavigation>ul>li.open ul li a,
  #block-mainnavigation>ul>li.open ul li span {
    display: block;
    width: 100%;
    text-align: left;
    float: none;
    position: relative;
    padding-left: 16px;
    white-space: normal;
  }
}


@media only screen and (max-width: 575px) {
  #block-mainnavigation.expanded>ul {
    display: block;
    position: fixed;
    padding: 40px 0;
    top: 0;
    right: 0;
    width: 75%;
    background-color: #000;
    height: 100%;
    text-align: left;
    overflow-y: scroll;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.65);
  }
}


/*Sidebar*/

.side-col ul, .side-col li, .side-col ul.washco-menu li{
  margin: 0;
  padding: 0;
  display: block;
}

.side-col ul li a, .side-col ul li span{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 0.9em;
  color: #ccc !important;
  line-height: 1em;
  text-transform: uppercase;
  display: inline-block;
}

.side-col ul li.is-active a, .side-col ul li.is-active span{
  color: #333 !important;
}

.views-row {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.views-row:first-child {
  margin-top: 0;
  border-top: none;
  padding-top: 0;
}

.main-col.side-col > div > .contextual-region {
  padding: 30px 0;
  border-top: 5px solid #ccc;
}

.main-col.side-col > div > .contextual-region:first-child,
.main-col.side-col > div > .contextual-region:last-child {
  border-top: 0;
  padding-top: 0;
}

.main-col.side-col > div > .contextual-region:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
}


@media only screen and (max-width: 991px) {
  .main-col.side-col {
    background-color: #fff;
  }
}


/*Pagination*/

ul.js-pager__items {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  margin-top: 25px;
  font-weight: 700;
}

ul.js-pager__items li {
  display: inline-block;
  margin: 0;
  padding: 10px;
}


/*Form Override Start*/

.fieldset-wrapper {
  float: left;
}

form.webform-submission-form {
  margin-top: 25px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
}

form.webform-submission-form>div,
form.webform-submission-form>fieldset {
  padding-top: 25px;
  border-top: 2px dotted #ccc;
  margin-top: 25px;
}

form.webform-submission-form>fieldset legend {
  float: left;
}


form.webform-submission-form div:first-child {
  padding-top: 0;
  border-top: 0;
  margin-top: 0;
}

form.webform-submission-form div.description {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.2em;
  color: #444;
}

form.webform-submission-form div input[type="button"],
form.webform-submission-form div input[type="submit"] {
  text-transform: uppercase;
  background-color: #2074a3;
  color: #ffffff;
  border-color: #2074a3;
  border: 0.15em solid;
  line-height: 1em;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

form.webform-submission-form div input[type="button"]:hover,
form.webform-submission-form div input[type="submit"]:hover {
  background-color: #096c95;
  color: #FFF;
}

form.webform-submission-form div input[type="submit"] {
  margin-top: 0px;
}

form.webform-submission-form div input,
form.webform-submission-form div textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #e6e7e8;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  background-color: #e6e7e8;
  max-width: 100%;
}

form.webform-submission-form div input:focus,
form.webform-submission-form div textarea:focus {
  border: 1px solid #0099D8;
}

form.webform-submission-form select {
  display: block;
}


form.webform-submission-form label.form-required:after,
form.webform-submission-form span.form-required:after {
  content: " *";
  color: #ff0000;
}

form.webform-submission-form div textarea {
  width: 100%;
  height: 100px;
}

form.webform-submission-form span.fieldset-legend {
  font-weight: 700;
  color: #0099D8;
  max-width: 100%;
}

form.webform-submission-form label,
form.webform-submission-form legend {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #2074a3;
  line-height: 1.2em;
  display: block;
}

form.webform-submission-form label.option {
  font-weight: 400;
  margin: 10px;
  padding-left: 0;
  font-size: 1.2em;
  color: #202B32;
  position: relative;
  line-height: 2em;
  display: inline;
}

form.webform-submission-form .form-item {
  margin-bottom: 25px;
  max-width: 100%;
}

form.webform-submission-form .webform-checkboxes-other-input,
form.webform-submission-form .webform-radios-other-input {
  margin-top: 15px;
  margin-bottom: 0;
}

form.webform-submission-form div.form-item.js-form-type-radio:last-child,
form.webform-submission-form div.form-item.js-form-type-checkbox:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  form.webform-submission-form .webform-likert-table-wrapper th {
    display: none;
  }

  form.webform-submission-form .webform-likert-table td {
    display: block !important;
    width: 100% !important;
    text-align: left;
  }

  form.webform-submission-form .webform-likert-table .form-item {
    margin-bottom: 0;
  }

  form.webform-submission-form .webform-likert-table tr {
    margin-bottom: 35px !important;
    display: block;
  }

  form.webform-submission-form .webform-likert-table tr:last-child {
    margin-bottom: 0 !important;
  }

  form.webform-submission-form label.option {
    line-height: 1em;
  }

}



@media only screen and (min-width: 768px) {

  .js-form-type-checkbox input,
  .js-form-type-radio input {
    visibility: hidden;
    cursor: pointer;
    margin-right: 0;
    width: 0;
    height: 0;
    position: absolute;
  }


  .js-form-type-checkbox label:before,
  .js-form-type-radio label:before {
    content: '';
    position: relative;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e6e7e8;
    border-radius: 50%;
    visibility: visible;
    z-index: 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
  }


  .js-form-type-checkbox label:hover:before,
  .js-form-type-radio label:hover:before {
    background-color: #d6d7d7;
  }

  .js-form-type-checkbox input:checked+label:before,
  .js-form-type-radio input:checked+label:before {
    background-color: #2074a3;
  }

  .js-form-type-checkbox input:checked+label:after,
  .js-form-type-radio input:checked+label:after {
    content: '';
    cursor: pointer;
    position: absolute;
    visibility: visible;
    left: 10px;
    top: 5px;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
  }

  .js-form-type-checkbox,
  .js-form-type-radio {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  form.webform-submission-form .webform-likert-table-wrapper .js-form-type-checkbox label:before,
  form.webform-submission-form .webform-likert-table-wrapper .js-form-type-radio label:before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e6e7e8;
    border-radius: 50%;
    visibility: visible;
    z-index: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
  }



  form.webform-submission-form .webform-likert-table-wrapper div.form-item.js-form-type-radio,
  form.webform-submission-form .webform-likert-table-wrapper div.form-item.js-form-type-checkbox {
    text-align: center;
  }

  form.webform-submission-form .webform-likert-table-wrapper label.option {
    display: inline-block;
  }

  form.webform-submission-form .webform-likert-table-wrapper .js-form-type-checkbox input:checked+label:after,
  form.webform-submission-form .webform-likert-table-wrapper .js-form-type-radio input:checked+label:after {
    content: '';
    cursor: pointer;
    position: absolute;
    visibility: visible;
    left: 9px;
    top: 6px;
    width: 6px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
  }
}

form.webform-submission-form .webform-likert-table-wrapper label {
  font-size: 1.2em;
  color: #202B32;
  position: relative;
}


form.webform-submission-form div.form-item.js-form-type-radio,
form.webform-submission-form div.form-item.js-form-type-checkbox {
  /* margin-bottom: 15px; */
  min-height: 0;
}

.webform-likert-table>tbody>tr>td>div>label {
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 0;
  font-size: 1.2em;
  color: #202B32;
  max-width: 70%;
  position: relative;
  line-height: 1em;
}

[data-likert-answers-count="2"] th {
  width: 10%;
}


/*Promo Containers*/
.promo-item {
  position: relative;
}

.promo-item .promo-img{
  position: relative;
  top: 0;
}

.promo-item .promo-txt{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.promo-item .promo-txt a{
  background-color: rgba(0, 0, 0, 0.41);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  font-size: 3em;
  line-height: 1em;
  padding: 10px;
}

.promo-item .promo-txt:hover a{
  background-color:rgba(0, 0, 0, 0.21);
}

/*Customs*/

.hidden {
  display: none !important;
}

.inline-block {
  display: inline-block;
}

.image-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-position: center center;
}

.image-bg.contain {
  background-size: contain;
}

@media only screen and (min-width: 2000px) {
  .image-bg {
    background-size: 2000px;
  }
}

.icon-bg {
  background-color: #9BC954;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-origin: content-box;
  background-position: right 10px bottom;
}

.no-p {
  padding: 0 !important;
}

.no-m {
  margin: 0 !important;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.flex-valign{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.margin-yp {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-yp.sections {
  border-bottom: 1px solid #cacaca;
  padding: 1px 0;
  padding-bottom: 50px;
}

.margin-yp-top {
  margin-top: 50px;
}

.margin-yp-bottom {
  margin-bottom: 50px;
}

.margin-ys {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-ys-top {
  margin-top: 15px;
}

.margin-ys-bottom {
  margin-bottom: 15px;
}

.margin-y {
  margin-top: 25px;
  margin-bottom: 25px;
}

.margin-y-top {
  margin-top: 25px;
}

.margin-y-bottom {
  margin-bottom: 25px;
}


.padding-yp {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-ypx {
  padding-top: 150px;
  padding-bottom: 150px;
}

.padding-yp-top {
  padding-top: 50px;
}

.padding-yp-bottom {
  padding-bottom: 50px;
}

.padding-yxs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-ys {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-ys-top {
  padding-top: 15px;
}

.padding-ys-bottom {
  padding-bottom: 15px;
}

.padding-y {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-y-top {
  padding-top: 25px;
}

.padding-y-bottom {
  padding-bottom: 25px;
}

.b-left {
  border-left: 3px solid #ffb819;
}

@media only screen and (max-width: 767px) {
  .b-left {
    border-left: 0;
  }

}



.text-center {
  text-align: center;
}

.text-left,
.text-left-auto {
  text-align: left;
}

.text-right,
.text-right-auto {
  text-align: right;
}

@media only screen and (max-width: 767px) {

  .text-left-auto,
  .text-right-auto {
    text-align: center;
  }

}

/*Drupal Override*/
#block-washco-primary-local-tasks ul {
  background-color: #ffd800;
  text-align: center;
}

#block-washco-primary-local-tasks ul li {
  display: inline-block;
  padding: 5px 10px;
}

ul.contextual-links li,
ul.contextual-links li a {
  background-color: transparent !important;
  color: #333 !important;
  border: none !important;
  display: block !important;
}

.status-message {
  background-color: #ffebbf;
  padding: 10px;
  font-weight: 700;
}

#tasks-section {
  background-color: #ffebbf;
  text-transform: uppercase;
  font-size: 0.8em;
}

#tasks-section ul li {
  padding: 10px;
}

#tasks-section ul li a.is-active {
  color: #333;
}


div[role=contentinfo] {
  display: inline-block;
  padding: 0;
  margin-bottom: 25px;
  padding: 5px 0 5px 10px;
  text-align: center;
  border-left: 10px solid #f00;
  font-weight: 600;
}

/*Mini Pager Start*/
.mini-pager ul {
  text-align: center;
}

.mini-pager li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

/*Breadcrumb*/
#block-washco-breadcrumbs{

}

#block-washco-breadcrumbs ol{
  margin: 0;
  list-style: none;
  padding: 0;
  border-bottom: 2px dotted #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#block-washco-breadcrumbs ol li{
  display: inline-block;
  padding-right: 5px;
}

#block-washco-breadcrumbs ol li::after {
  content: "\203a";
  padding-left: 5px;
  font-size: 300;
  color: #ccc;
}
