.view-header {
  margin-bottom: $spacer * 2;
}

// Specific view styling

// Media catalog
.view-media-catalog {
  table {
    box-sizing: none !important;
  }
  .cshs-term-group {
    display: none;
  }
  table caption {
    caption-side: initial;
    color: #000;
    font-weight: bold;
  }
  .views-field-field-fy {
    width: 12%;
  }
}
