<!-- Header Start -->

<div id="header-section" class="container-fluid blue-bg">
    <div class="container">
    	<div class="row padding-y">
            <div class="col-12">
                {{ page.header }}
            </div>
    	</div>
    </div>
</div>

<!-- Header End -->
